{
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "tabWidth": 4,
        "useTabs": false,
        "semi": true,
        "singleQuote": true
      }
    },
    {
      "files": "*.ts",
      "options": {
        "tabWidth": 4,
        "useTabs": false,
        "semi": true,
        "singleQuote": true
      }
    }
  ]
}